@media screen and (max-width: 1000px) {
    .grid-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .grid-container img {
        max-height: 200px;
    }

    .large-screen {
        display: none;
    }

    .menu-icon {
        display: inline;
    }
}