* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: xxx-large;
    color: #eeeeee;
    display: inline;
    padding-left: 5vw;
}

header > div {
    background-color: #24505C;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 5vw;
}

header ul {
    list-style: none;
    display: flex;
}

header a {
    font-family: "Open Sans", sans-serif;
    color: white;
    min-width: 10vw;
    text-align: center;
    font-size: x-large;
    padding: 1rem 2vw 1rem 2vw;
}

header a:hover {
    background-color: #fab323;
    color: black;
    cursor: pointer;
}

heading {
    display: none;
}

heading ul {
    background-color: #24505C;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

heading li {
    width: 100vw;
    border-top: .2rem solid #fab323;
    padding: 1rem;
    color: white;
    font-family: "Open Sans", sans-serif;
}

heading li:hover {
    background-color: #fab323;
    color: black;
    cursor: pointer;
}

h2 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30pt;
    font-family: "Open Sans", sans-serif;
}

.menu-icon {
    display: none;
}

figure {
    background-color: #24505C;
    padding: 2rem;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.grid-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    width: 80vw;
    max-width: 1500px;
    gap: 2rem;
}

.grid-container img {
    margin: 1rem auto;
    display: block;
    width: 90%;
    min-height: 300px;
    object-fit: cover;
    border: .5rem solid #fab323;
}

footer {
    background-color: #24505C;
    font-size: x-large;
    margin-top: 4rem;
    height: 20vh;
    padding-top: 1rem;
}

footer > p {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}